/**/.vscode
/**/weights/*
/**/logs/*
/**/input/*
/**/args.yaml
**.pyc
/**/data_preparation/cache_dir
/**/data_preparation/outputs
/**/data_preparation/runs
**ign_*

!/**/.gitkeep

*~
*.aux*
*.blg
*.dep
*.dpth
*.el
*.fdb_latexmk
*.fls
*.gz
*.log
*.md5
*.out
*.spl
*.synctex*
*.toc
*.DS_Store
**svg-inkscape**
auto/
tkz-fct.sty

